$h-xs: '480px';
$h-sm: '600px';
$h-md: '768px';
$h-mdx: '820px';
$h-lg: '1024px';
$h-xl: '1200px';
$h-2xl: '1600px';
$h-4k: '2160px';


$w-xxs: "375px";
$w-xs: '500px';
$w-sm: '640px';
$w-md: '768px';
$w-mdx: '820px';
$w-lg: '1024px';
$w-xl: '1280px';
$w-2xl: '1536px';
