//Font
$font-lexend: 'Lexend', sans-serif;

//Headings
.heading-1 {
  color: $color-black;
  font-family: $font-lexend;
  font-size: toRem(40);
  font-weight: 900;
  line-height: toRem(50);
  margin-block: 0;

  span{
    color: $color-primary;
  }
}

.heading-2 {
  color: $color-black;
  font-family: $font-lexend;
  font-size: toRem(32);
  font-weight: 600;
  line-height: toRem(40);
  margin-block: 0;
}

.heading-3 {
  color: $color-black;
  font-family: $font-lexend;
  font-size: toRem(24);
  font-weight: 500;
  line-height: toRem(30);
  margin-block: 0;
}

.heading-4-5-6 {
  font-family: $font-lexend;
  font-size: toRem(20);
  font-weight: 500;
  line-height: toRem(25);
  margin-block: 0;
  &--grey-3{
    color: $color-grey-3;
  }
  &--black{
    color: $color-black;
  }
}

//Body
.body-light{
  color: $color-grey-3;
  font-family: $font-lexend;
  font-size: toRem(16);
  font-weight: 300;
  line-height: toRem(24);
  margin-block: 0;
}

.body-medium{
  color: $color-grey-3;
  font-family: $font-lexend;
  font-size: toRem(16);
  font-weight: 500;
  line-height: toRem(20);
  margin-block: 0;
}

.body-semibold{
  font-family: $font-lexend;
  font-size: toRem(16);
  font-weight: 600;
  line-height: toRem(20);
  margin-block: 0;
  &--black{
    color: $color-black;
  }
  &--primary-dark{
    color: $color-primary-dark;
  }
}

//Label
.label-small{
  color: $color-grey-2;
  font-family: $font-lexend;
  font-size: toRem(12);
  font-weight: 400;
  line-height: toRem(15);
  margin-block: 0;
}

.label-medium{
  font-family: $font-lexend;
  font-size: toRem(14);
  font-weight: 500;
  line-height: toRem(17.5);
  margin-block: 0;
  &--red{
    color: $color-danger;
    background: $color-danger-light;
  }
  &--blue{
    color: $color-info;
    background: $color-info-light;
  }
  &--green{
    color: $color-primary-dark;
    background: $color-primary-light;
  }
}

.label-regular{
  font-family: $font-lexend;
  font-size: toRem(14);
  font-weight: 400;
  line-height: toRem(24);
  margin-block: 0;
  &--grey-2{
    color: $color-grey-2;
  }
  &--grey-3{
    color: $color-grey-3;
  }
  &--secondary{
    color: $color-secondary;
  }
  &--black{
    color: $color-black;
  }
}

.label-semibold{
  font-family: $font-lexend;
  font-size: toRem(14);
  font-weight: 600;
  line-height: toRem(17.5);
  margin-block: 0;
}

//Subtitle
.subtitle{
  color: $color-black;
  font-family: $font-lexend;
  font-size: toRem(18);
  font-weight: 500;
  line-height: toRem(24);
  margin-block: 0;
}

//Buttons
.btn-font{
  color: $color-white;
  font-family: $font-lexend;
  font-size: toRem(14);
  font-weight: 600;
  line-height: toRem(24);
  text-align: center;
}

//Input
.input-font{
  color: $color-grey-2;
  font-family: $font-lexend;
  font-size: toRem(14);
  font-weight: 500;
  line-height: toRem(22);
}

@include media-width-down('sm') {
  //Headings
  .heading-1 {
    font-size: toRem(30);
    font-weight: 700;
    line-height: toRem(40);
  }

  .heading-2 {
    font-size: toRem(22);
    font-weight: 500;
    line-height: toRem(43);
  }

  .heading-3 {
    font-size: toRem(18);
    font-weight: 500;
    line-height: toRem(22);
  }

  .heading-4-5-6 {
    font-size: toRem(16);
    font-weight: 500;
    line-height: toRem(20);
  }

  //Body
  .body-light{
    font-size: toRem(12);
    font-weight: 300;
    line-height: toRem(16);
  }

  .body-medium{
    font-size: toRem(14);
    font-weight: 500;
    line-height: toRem(18);
  }

  .body-semibold{
    font-size: toRem(14);
    font-weight: 600;
    line-height: toRem(18);
  }

  //Label
  .label-small{
    font-size: toRem(10);
    line-height: toRem(14);
  }

  .label-medium{
    font-size: toRem(12);
    line-height: toRem(16);
  }

  .label-regular{
    font-size: toRem(12);
    line-height: toRem(16);
  }

  .label-semibold{
    font-size: toRem(12);
    line-height: toRem(16);
  }

  //Subtitle
  .subtitle{
    font-size: toRem(12);
    font-weight: 400;
    line-height: toRem(16);
  }

  //Buttons
  .btn-font{
    font-size: toRem(12);
    font-weight: 400;
    line-height: toRem(16);
  }

  //Input
  .input-font{
    font-size: toRem(12);
    font-weight: 400;
    line-height: toRem(16);
  }
}
